SpringMavenCodeReview/src/main/resources/wsdl/HWBSS_CommonData_V10.xsd

<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2010 (http://www.altova.com) by MESMERiZE (MiZE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:common="http://www.huawei.com/bss/soaif/interface/common/" xmlns:ns1="http://www.huawei.com/bss/soaif/interface/common/" targetNamespace="http://www.huawei.com/bss/soaif/interface/common/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--simple type defination-->
	<xs:simpleType name="Date">
		<xs:annotation>
			<xs:documentation>Format is YYYYMMDD</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
			<xs:pattern value="\d{4}[0|1]\d[0-3]\d"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime">
		<xs:annotation>
			<xs:documentation>Format is YYYYMMDD24hhmmss.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="14"/>
			<xs:pattern value="\d{4}[0|1]\d[0-3]\d[0-2]\d[0-5]\d[0-5]\d"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Language">
		<xs:annotation>
			<xs:documentation>The language code is defined in interface specification document.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Nationality">
		<xs:annotation>
			<xs:documentation>The nationality code is defined in interface specification document.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Title">
		<xs:annotation>
			<xs:documentation>Customer Title. 0:Mr. 1:Mrs. 2:Ms.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Currency">
		<xs:annotation>
			<xs:documentation>The currency code is defined in interface specification document.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Amount">
		<xs:annotation>
			<xs:documentation>This type is used for money related parameter.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]+(.[0-9]{1,2})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Email">
		<xs:annotation>
			<xs:documentation>This type is used to indicate a email address.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Version">
		<xs:annotation>
			<xs:documentation>This type is used to indicate software version. E.g. the protocol version.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TransactionId">
		<xs:annotation>
			<xs:documentation>This is a unique numeric string, provided by the calling system, which is used NGBSS internally to identify duplicate requests.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Channel">
		<xs:annotation>
			<xs:documentation>This parameter is used to indicate different sales channels that ESB interacts with. The value need to be extended.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BusinessCode">
		<xs:annotation>
			<xs:documentation>Business operation code generated by request system. This Code is used to identify different business process.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PartnerId">
		<xs:annotation>
			<xs:documentation>The ID of the MVNO partner.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BrandId">
		<xs:annotation>
			<xs:documentation>The brand ID defined for the MVNO partner.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IdType">
		<xs:annotation>
			<xs:documentation>The customer identity type. 1:National identity. 2:Passport.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<xs:simpleType name="IdNum">
		<xs:annotation>
			<xs:documentation>The customer's identity number. e.g. national identity number or passport number.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServiceNum">
		<xs:annotation>
			<xs:documentation>This type is used to identity the subscriber's primary service number.e.g. MSISDN.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Phone">
		<xs:annotation>
			<xs:documentation>This type is used to define a phone number.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ICCID">
		<xs:annotation>
			<xs:documentation>This type is used to indiate the ICCID or a SIM card.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IMSI">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IMEI">
		<xs:annotation>
			<xs:documentation>This type is used to indiate the IMEI number of a phone.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PIN">
		<xs:annotation>
			<xs:documentation>This type is used to indiate the PIN of a SIM.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PIN2">
		<xs:annotation>
			<xs:documentation>This type is used to indiate the PIN2 of a SIM.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PUK">
		<xs:annotation>
			<xs:documentation>This type is used to indiate the PUK of a SIM.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PUK2">
		<xs:annotation>
			<xs:documentation>This type is used to indiate the PUK2 of a SIM.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ObjectIdType">
		<xs:annotation>
			<xs:documentation>Entity ID type. 1:Customer ID.   2:Account ID.   3:Subscriber ID.   4:Service Number.  5:ICCID</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ObjectId">
		<xs:annotation>
			<xs:documentation>Entity ID. It can be CustID,AcctId,SubId,ServcieNum.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CustId">
		<xs:annotation>
			<xs:documentation>The customer ID generated in the BSS system.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MSISDN">
		<xs:annotation>
			<xs:documentation>The ServcieNum of Subscriber.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CustomerType">
		<xs:annotation>
			<xs:documentation>Customer Type
			0:Single Customer
			1:Corporation</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="AcctId">
		<xs:annotation>
			<xs:documentation>The account ID generated in the BSS system.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AddressId">
		<xs:annotation>
			<xs:documentation>The address ID generated in the BSS system.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ContactId">
		<xs:annotation>
			<xs:documentation>The contact ID generated in the BSS system.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BillMediumId">
		<xs:annotation>
			<xs:documentation>The bill medium ID generated in the BSS system.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PaymentId">
		<xs:annotation>
			<xs:documentation>The payment ID generated in the BSS system.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SubId">
		<xs:annotation>
			<xs:documentation>The subscriber ID generated in the BSS system.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CustLevel">
		<xs:annotation>
			<xs:documentation>The customer grade. 1:Normal. 2:VIP. Other value can be extended.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="CustSegment">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CustStatus">
		<xs:annotation>
			<xs:documentation>Customer status. 1: Prospect  2: Active  3: Deleted</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="NetworkType">
		<xs:annotation>
			<xs:documentation>Network type. 1：GSM 2：CDMA 3：ADSL 4：FIX 5：Wimax. Other value can be extended.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CreditCardType">
		<xs:annotation>
			<xs:documentation>Credit Card Type. 2001: Master card. 2002: VISA card. 2003: AMEX card. 2004: Diners card. 2005: DISCOVER card. 2006: JCB card.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="SubStatus">
		<xs:annotation>
			<xs:documentation>1:Idle  2:Active  3:Baring (B1W)  4:Suspended (B2W)  5:Pre-deactivate  9:Deactive.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="SubType">
		<xs:annotation>
			<xs:documentation>Subscriber type: 0:Prepaid  1:Postpaid  2:Hybrid.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="AddressType">
		<xs:annotation>
			<xs:documentation>The address type.  0:Home address. 1:Emergency address.  Other value can be extended.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="BillCycleType">
		<xs:annotation>
			<xs:documentation>The date of a month. e.g."01" means the 1st day of a month.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BillCycleId">
		<xs:annotation>
			<xs:documentation>The bill cycle ID.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PaymentType">
		<xs:annotation>
			<xs:documentation>Payment type of an account. 0:Prepaid. 1:Postpaid.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="BalanceType">
		<xs:annotation>
			<xs:documentation>It is used to distinguish different balance of an account.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AcctPayMethod">
		<xs:annotation>
			<xs:documentation>Payment method of an account. 1:Manual payment. 2:Automatic payment.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Priority">
		<xs:annotation>
			<xs:documentation>The priority of contact information. 1:First priority. 2:Second priority. 3.Third priority. Other value can be extended.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Password">
		<xs:annotation>
			<xs:documentation>The common password type. This parameter can be present in a encrypt form. SOA IF can support the following two enciphering algorithm: 
SHA256: reversible algorithm
AES128: non-invertible algorithm
</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ActionType">
		<xs:annotation>
			<xs:documentation>The action to the a data object.  1:Add. 2:Modify. 3:Delete.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ContactType">
		<xs:annotation>
			<xs:documentation>The contact information type. 0:Self contact. 1:Send contact. 3:husband or wife. 4:father. 5:mother.Other value can be extended.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="OrderId">
		<xs:annotation>
			<xs:documentation>Order ID generated by BSS system.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrderType">
		<xs:annotation>
			<xs:documentation>The BSS will generate a unique code for each order. CO001:Create Subscriber.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="OrderStatus">
		<xs:annotation>
			<xs:documentation>The order's status. 1:Created. 2:Ready. 3:Suspended. 4:Processing. 5:Cancelled. 6:Waiting. 7:Failed. 8:Completed.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="TotalRowNum">
		<xs:annotation>
			<xs:documentation>the total row number of the request.and the result will be page display.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:pattern value="[0-9]{1,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BillMediumCode">
		<xs:annotation>
			<xs:documentation>Bill medium code. 1:Paper 2:SMS 3:Email 4:Fax</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="BillContentType">
		<xs:annotation>
			<xs:documentation>Bill content type. 1:summary 2:Itemized</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="TimeZone">
		<xs:annotation>
			<xs:documentation>The time zone ID.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AgreementId">
		<xs:annotation>
			<xs:documentation>The agreement ID. this ID is generated in NGBSS.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DurationUnit">
		<xs:annotation>
			<xs:documentation>The time duration type. Y:Year; M:Month; C:Cycle; W:Week; D:Day. Notice:Cycle means how many bill cycles.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="GroupMemberType">
		<xs:annotation>
			<xs:documentation>The type of group member.1:inner network(single subscriber); 2:external network(single subscriber); 3:group subscriber(group member) .</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="GroupMemberShortNum">
		<xs:annotation>
			<xs:documentation>The group member short number.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="OrganizationType">
		<xs:annotation>
			<xs:documentation>Organization Type. 1:Corporate; 2:Subsidiary; 3:Department.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="GroupId">
		<xs:annotation>
			<xs:documentation>Group ID.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GroupName">
		<xs:annotation>
			<xs:documentation>Group Name.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GroupNum">
		<xs:annotation>
			<xs:documentation>Group Number.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CorporateNum">
		<xs:annotation>
			<xs:documentation>the number of a corporate.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AddressUnit">
		<xs:annotation>
			<xs:documentation>The AddressUnit is defined according to regionalism.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TelePhone">
		<xs:annotation>
			<xs:documentation>Phone number.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Fax">
		<xs:annotation>
			<xs:documentation>Fax number.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NameUnit">
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<!--complex type defination-->
	<xs:element name="ReqHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Version" type="common:Version" default="1" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Interface version.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="BusinessCode" type="common:BusinessCode" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Business operation code generated by request system. This Code is used to identify different business process.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TransactionId" type="common:TransactionId">
					<xs:annotation>
						<xs:documentation>Unique ID of each transaction,
This is a unique numeric string provided by the calling system. It is used by NGBSS internally to identify duplicate requests. This ID must be unique for each transaction.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Channel" type="common:Channel" minOccurs="0">
					<xs:annotation>
						<xs:documentation>This parameter is used to indicate different sales channels that the system interacts with.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PartnerId" type="common:PartnerId" minOccurs="0">
					<xs:annotation>
						<xs:documentation>This parameter is used when a BSS operator have some independent business partners. It can be used to distinguish the different business partner.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="BrandId" type="common:BrandId" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The brand ID is used to distinguish different brand of one business partner.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ReqTime" type="common:DateTime">
					<xs:annotation>
						<xs:documentation>The sending time of this request message.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TimeFormat" type="common:TimeFormat" minOccurs="0">
					<xs:annotation>
						<xs:documentation>the time type and time zone information.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="AccessUser">
					<xs:annotation>
						<xs:documentation>User name for accessing the system.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="32"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AccessPassword">
					<xs:annotation>
						<xs:documentation>User password for accessing the system. This  parameter is encrypt using SHA256.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="32"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="OperatorId" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The ID of an operator, who access to the system. This parameter is used to record the operator information.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="32"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AdditionalProperty" type="common:SimpleProperty" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RspHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Version" type="common:Version" default="1" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Interface version.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ReturnCode">
					<xs:annotation>
						<xs:documentation>Return code that indicates the final result of an request message. 
00000 means success.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="32"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ReturnMsg" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Error message. Only provided in case of error("ReturnCode" not equal to "00000" ).</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1024"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RspTime" type="common:DateTime" minOccurs="0"/>
				<xs:element name="AdditionalProperty" type="common:SimpleProperty" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="TimeFormat">
		<xs:sequence>
			<xs:element name="TimeType">
				<xs:annotation>
					<xs:documentation>Time format:
1: Local time format.
2: GMT time format.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TimeZoneID" type="common:TimeZone" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The time zone ID</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SimpleProperty">
		<xs:sequence>
			<xs:element name="Code">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Value">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="120"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Name">
		<xs:sequence>
			<xs:element name="FirstName" type="common:NameUnit" minOccurs="0"/>
			<xs:element name="MiddleName" type="common:NameUnit" minOccurs="0"/>
			<xs:element name="LastName" type="common:NameUnit" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Certificate">
		<xs:annotation>
			<xs:documentation>Certificate type of a customer. e.g. passport.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IdType" type="common:IdType" minOccurs="0"/>
			<xs:element name="IdNum" type="common:IdNum" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Address">
		<xs:sequence>
			<xs:element name="AddressClass" minOccurs="0">
				<xs:simpleType>
					<xs:annotation>
						<xs:documentation>Address class.1 Customer Address 2 Account Address 3 Subscriber Address </xs:documentation>
					</xs:annotation>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AddressId" type="common:AddressId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This ID is generated in CRM system when create a new address.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddressType" type="common:AddressType" minOccurs="0"/>
			<xs:element name="Address1" type="common:AddressUnit" minOccurs="0"/>
			<xs:element name="Address2" type="common:AddressUnit" minOccurs="0"/>
			<xs:element name="Address3" type="common:AddressUnit" minOccurs="0"/>
			<xs:element name="Address4" type="common:AddressUnit" minOccurs="0"/>
			<xs:element name="Address5" type="common:AddressUnit" minOccurs="0"/>
			<xs:element name="Address6" type="common:AddressUnit" minOccurs="0"/>
			<xs:element name="Address7" type="common:AddressUnit" minOccurs="0"/>
			<xs:element name="Address8" type="common:AddressUnit" minOccurs="0"/>
			<xs:element name="Address9" type="common:AddressUnit" minOccurs="0"/>
			<xs:element name="Address10" type="common:AddressUnit" minOccurs="0"/>
			<xs:element name="Address11" type="common:AddressUnit" minOccurs="0"/>
			<xs:element name="Address12" type="common:AddressUnit" minOccurs="0"/>
			<xs:element name="PostCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation/>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Telephone1" type="common:TelePhone" minOccurs="0"/>
			<xs:element name="Telephone2" type="common:TelePhone" minOccurs="0"/>
			<xs:element name="Telephone3" type="common:TelePhone" minOccurs="0"/>
			<xs:element name="Telephone4" type="common:TelePhone" minOccurs="0"/>
			<xs:element name="Email1" type="common:Email" minOccurs="0"/>
			<xs:element name="Email2" type="common:Email" minOccurs="0"/>
			<xs:element name="Email3" type="common:Email" minOccurs="0"/>
			<xs:element name="Email4" type="common:Email" minOccurs="0"/>
			<xs:element name="Fax1" type="common:Fax" minOccurs="0"/>
			<xs:element name="Fax2" type="common:Fax" minOccurs="0"/>
			<xs:element name="Fax3" type="common:Fax" minOccurs="0"/>
			<xs:element name="Fax4" type="common:Fax" minOccurs="0"/>
			<xs:element name="SmsNumber" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Mobile number to receive SMS.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Contact">
		<xs:sequence>
			<xs:element name="ContactId" type="common:ContactId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This ID is generated in CRM system when create a new contact.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Priority" type="common:Priority" minOccurs="0"/>
			<xs:element name="ContactType" type="common:ContactType" minOccurs="0"/>
			<xs:element name="Title" type="common:Title" minOccurs="0"/>
			<xs:element name="Name" type="common:Name" minOccurs="0"/>
			<xs:element name="OfficePhone" type="common:Phone" minOccurs="0"/>
			<xs:element name="HomePhone" type="common:Phone" minOccurs="0"/>
			<xs:element name="MobilePhone" type="common:Phone" minOccurs="0"/>
			<xs:element name="Email" type="common:Email" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BusinessFeeInfo">
		<xs:sequence>
			<xs:element name="ChargeType" nillable="true">
				<xs:annotation>
					<xs:documentation>Charge item type. e.g. activation fee, offering fee, resource fee(SIM card fee)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Currency" type="common:Currency" minOccurs="0"/>
			<xs:element name="Amount" type="common:Amount" minOccurs="0"/>
			<xs:element name="AdditionalProperty" type="common:SimpleProperty" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>List of extended parameters. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Notification">
		<xs:sequence>
			<xs:element name="CustNoticeFlag" default="Y" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PartnerNoticeFlag" default="Y" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NoticeMethod" type="common:NoticeMethod" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoticeMethod">
		<xs:sequence>
			<xs:element name="NotifyType" type="xs:string" minOccurs="0"/>
			<xs:element name="NotifyMethod" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ActiveMode">
		<xs:sequence>
			<xs:element name="Mode">
				<xs:annotation>
					<xs:documentation>Offering active mode.
A: Automatic Active. (The offering is active automatically by the rules set in the system.)
U: First Use Active.
M: Manual Active. (The offering is manually active via business hall, web or IVR channel.)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:element name="ActiveDate" type="common:DateTime">
					<xs:annotation>
						<xs:documentation>The exact active date. only valide when the "Mode" parameter equal to "A".</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ActiveTimeLimit" type="common:DateTime">
					<xs:annotation>
						<xs:documentation>The latest date for activating the offering.
This parameter is only needed when the "Mode" parameter equal to "M" and "U".</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EffectiveMode">
		<xs:sequence>
			<xs:element name="Mode">
				<xs:annotation>
					<xs:documentation>I: Immediate
N: Next bill cycle
S: Absolute date</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EffectiveDate" type="common:DateTime" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ObjectAccessInfo">
		<xs:sequence>
			<xs:element name="ObjectIdType" type="common:ObjectIdType">
				<xs:annotation>
					<xs:documentation>1: Customer ID.
2: Account ID.
3: Subscriber ID.
4: Service Number.
5: ICCID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ObjectId" type="common:ObjectId">
				<xs:annotation>
					<xs:documentation>The identity of the object you want to operate. if you want to change the customer. this value is "CustId", if you want to change the account this value is "AcctId" </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Subscriber">
		<xs:sequence>
			<xs:element name="SubId" type="common:SubId" minOccurs="0"/>
			<xs:element name="PartnerId" type="common:PartnerId" minOccurs="0"/>
			<xs:element name="BrandId" type="common:BrandId" minOccurs="0"/>
			<xs:element name="SubType" type="common:SubType" minOccurs="0"/>
			<xs:element name="ServiceNum" type="common:ServiceNum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Subscriber's service number. e.g. MSISDN.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ICCID" type="common:ICCID" minOccurs="0"/>
			<xs:element name="IMSI" type="common:IMSI" minOccurs="0"/>
			<xs:element name="IMEI" type="common:IMEI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>IMEI of a mobile phone which is purchased by a customer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Language" type="common:Language" minOccurs="0"/>
			<xs:element name="WrittenLanguage" type="common:Language" minOccurs="0"/>
			<xs:element name="Password" type="common:Password" minOccurs="0"/>
			<xs:element name="NetworkType" type="common:NetworkType" minOccurs="0"/>
			<xs:element name="SubStatus" type="common:SubStatus" minOccurs="0"/>
			<xs:element name="EffectiveDate" type="common:DateTime" minOccurs="0"/>
			<xs:element name="ExpireDate" type="common:DateTime" minOccurs="0"/>
			<xs:element name="AdditionalProperty" type="common:SimpleProperty" minOccurs="0" maxOccurs="100">
				<xs:annotation>
					<xs:documentation>List of extended parameters. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LifeCycleStatus">
		<xs:sequence>
			<xs:element name="StatusName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StatusIndex" type="common:SubStatus"/>
			<xs:element name="StatusExpireTime" type="common:DateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OfferingId">
		<xs:sequence>
			<xs:element name="OfferingId" nillable="true">
				<xs:annotation>
					<xs:documentation>It is the offering ID which is defined in PC module.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PurchaseSeq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>It is the purchase seqence of this subscription. If an offering can be purchased more than once, system use this field to distinguish different offering subscription instance. e.g. 1/2/3/4 ....
If an offering can only be purchased one time this parameter should not be included.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OfferingInstance">
		<xs:sequence>
			<xs:element name="OfferingId" type="common:OfferingId" nillable="true"/>
			<xs:element name="Contract" type="common:Contract" minOccurs="0"/>
			<xs:element name="InstanceProperty" type="common:OfferingInstanceProperty" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>List of extended parameters. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OfferingInstanceProperty">
		<xs:sequence>
			<xs:element name="PropertyCode">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PropertyType">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:choice>
				<xs:element name="Value">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SubPropertyInstance" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SubPropertyCode">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="32"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Value">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="100"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Customer">
		<xs:sequence>
			<xs:element name="CustId" type="common:CustId" minOccurs="0"/>
			<xs:element name="CustLevel" type="common:CustLevel" minOccurs="0"/>
			<xs:element name="CustSegment" type="common:CustSegment" minOccurs="0"/>
			<xs:element name="CustomerType" type="common:CustomerType" minOccurs="0"/>
			<xs:element name="NoticeSuppress" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>reserved. 
This parameter is reserved for  future use.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ChannelType">
							<xs:annotation>
								<xs:documentation>Notice channel type.
"S": SMS notification.
"M": EMAIL notification.
"V": IVR notification.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string"/>
							</xs:simpleType>
						</xs:element>
						<xs:element name="NoticeType">
							<xs:annotation>
								<xs:documentation>Notice type.
All the SMS/EMAIL/IVR messages are classified to different groups (notice type). Customer can chose to suppress messages by group.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="32"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="SubNoticeType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Notice sub type.

All the SMS/EMAIL/IVR messages in groups (notice type) are classified to different sub-groups (SubNoticeType). Customer can chose to suppress messages by sub-groups.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="32"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Title" type="common:Title" nillable="true" minOccurs="0"/>
			<xs:element name="Name" type="common:Name" minOccurs="0"/>
			<xs:element name="Nationality" type="common:Nationality" nillable="true" minOccurs="0"/>
			<xs:element name="Certificate" type="common:Certificate" nillable="true" minOccurs="0"/>
			<xs:element name="Birthday" type="common:Date" minOccurs="0"/>
			<xs:element name="Contact" type="common:Contact" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Address" type="common:Address" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Status" type="common:CustStatus" minOccurs="0"/>
			<xs:element name="AdditionalProperty" type="common:SimpleProperty" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Account">
		<xs:sequence>
			<xs:element name="AcctId" type="common:AcctId" minOccurs="0"/>
			<xs:element name="AcctName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Reserved.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PaymentType" type="common:PaymentType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Payment type of an account.
0:prepaid.
1:postpaid.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Title" type="common:Title" nillable="true" minOccurs="0"/>
			<xs:element name="Name" type="common:Name" minOccurs="0"/>
			<xs:element name="BillCycleType" type="common:BillCycleType" minOccurs="0"/>
			<xs:element name="BillLanguage" type="common:Language" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Bill language.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Contact" type="common:Contact" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The contact information.

This parameter is reserved.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Address" type="common:Address" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="BillMedium" type="common:BillMedium" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Bill medium information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Currency" type="common:Currency" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Reserved.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InitialBalance" type="common:Amount" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This parameter is reserved.

Initial balance of an account.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditLimit" type="common:CreditLimit" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>This parameter is reserved.

The credit limit of an account.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctPayMethod" type="common:AcctPayMethod" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Payment method of an account.
1: manual payment.
2: automatic payment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentChannel" type="common:PaymentChannel" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AdditionalProperty" type="common:SimpleProperty" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BillMedium">
		<xs:sequence>
			<xs:element name="BillMediumId" type="common:BillMediumId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This bill medium ID is generated in CRM system when create a new bill medium.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BillMediumCode" type="common:BillMediumCode" minOccurs="0"/>
			<xs:element name="BillContentType" type="common:BillContentType" minOccurs="0"/>
			<xs:element name="BillMediumInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This parameter is bill medium information of different bill medium code.
If the "BillMediumCode"=paper, this parameter is empty.
If the BillMediumCode"=SMS or FAX, this parameter is the phone number.
If the "BillMediumCode"=email, this parameter is email address.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditLimit">
		<xs:sequence>
			<xs:element name="LimitType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LimitValue" type="common:Amount"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentChannel">
		<xs:sequence>
			<xs:element name="PaymentId" type="common:PaymentId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This ID is generated in CRM system when crete a new payment channel.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctType">
				<xs:annotation>
					<xs:documentation>Payment account type.
C: credit card.
D: debit card.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AcctNum">
				<xs:annotation>
					<xs:documentation>The card number of credit card or debit card.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AcctName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The registered name of a credit card or debit card.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="120"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BankCode">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BankBranchCode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CreditCardType" type="common:CreditCardType" minOccurs="0"/>
			<xs:element name="CVVNum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Card Verification Value of a credit card.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ExpireDate" type="common:DateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The expiration date of a credit card or debit card.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctBalance">
		<xs:sequence>
			<xs:element name="BalanceType" type="common:BalanceType"/>
			<xs:element name="BalanceTypeName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TotalAmount" type="common:Amount"/>
			<xs:element name="IsDeposit">
				<xs:annotation>
					<xs:documentation>If this balance item is deposit or not.
1: Yes.
2: No.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IsRefund">
				<xs:annotation>
					<xs:documentation>If this balance item can refund.
1: can refund.
2: can't refund, but can change to coupon.
3: can't refund.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Currency" type="common:Currency"/>
			<xs:element name="BalanceDetail" maxOccurs="100">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BalanceInstanceId">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:pattern value="[0-9]{1,32}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Amount" type="common:Amount"/>
						<xs:element name="EffectiveTime" type="common:DateTime"/>
						<xs:element name="ExpireTime" type="common:DateTime"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OutstandingAmt">
		<xs:sequence>
			<xs:element name="BillCycleId" type="common:BillCycleId">
				<xs:annotation>
					<xs:documentation>Bill cycle instance ID, it is used to iidentify the bill cycle that include outstanding fee.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BillCyclePeriod" type="common:TimePeriod"/>
			<xs:element name="DueDate" type="common:DateTime">
				<xs:annotation>
					<xs:documentation>The due date of a bill cycle.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OutStandingDetail" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>outstanding fee, summaried by different currency ID.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="OutstandingAmt" type="common:Amount"/>
						<xs:element name="Currency" type="common:Currency"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctCreditAmt">
		<xs:sequence>
			<xs:element name="CreditLimitType">
				<xs:annotation>
					<xs:documentation>Credit limit type code.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CreditLimitTypeName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TotalCreditAmt" type="common:Amount"/>
			<xs:element name="TotalUsageAmt" type="common:Amount"/>
			<xs:element name="TotalRemainAmt" type="common:Amount"/>
			<xs:element name="CreditAmtInfo" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LimitClass">
							<xs:annotation>
								<xs:documentation>I: Initial credit limit.
T: tempary credit llimit.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string"/>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Amount" type="common:Amount"/>
						<xs:element name="EffectiveTime" type="common:DateTime"/>
						<xs:element name="ExpireTime" type="common:DateTime"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SIMInfo">
		<xs:sequence>
			<xs:element name="ICCID" type="common:ICCID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The ICCID of the SIM card</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IMSI" type="common:IMSI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The IMSI of the SIM card</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PIN" type="common:PIN" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The PIN of the SIM card</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PIN2" type="common:PIN2" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The PIN2 of the SIM card</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PUK" type="common:PUK" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The PUK of the SIM card</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PUK2" type="common:PUK2" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The PUK2 of the SIM card</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalProperty" type="common:SimpleProperty" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrderInfo">
		<xs:sequence>
			<xs:element name="OrderId" type="common:OrderId">
				<xs:annotation>
					<xs:documentation>the order's id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderType" type="common:OrderType">
				<xs:annotation>
					<xs:documentation>the order's type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderStatus" type="common:OrderStatus">
				<xs:annotation>
					<xs:documentation>Order status.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcceptTime" type="common:DateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>the time when the order created.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExecutionTime" type="common:DateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>the time when the order exceuted.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChangeTime" type="common:DateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>the time when the order change status.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalProperty" type="common:SimpleProperty" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TimePeriod">
		<xs:sequence>
			<xs:element name="StartTime" type="common:DateTime"/>
			<xs:element name="EndTime" type="common:DateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PagingInfo">
		<xs:sequence>
			<xs:element name="TotalRowNum" type="common:TotalRowNum">
				<xs:annotation>
					<xs:documentation>It's filled 0 in the first query, and then filled the totalRowNum returned in the next queries.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BeginRowNum">
				<xs:annotation>
					<xs:documentation>Number of the start row.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:pattern value="[0-9]{1,2}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FetchRowNum">
				<xs:annotation>
					<xs:documentation>Number of obtained rows starting from BeginRowNum.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:pattern value="[0-9]{1,2}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Contract">
		<xs:sequence>
			<xs:element name="AgreementId" type="common:AgreementId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The agreementId is generated in NGBSS and synchronized to external application.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DurationUnit" type="common:DurationUnit" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The time duration type. 
Y:Year; 
M:Month; 
C:Cycle; 
W:Week; 
D:Day. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DurationValue" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The value of Duration unit. 

Notice: If the "DurationUnit" equal to "C:Cycle", the duation value means how many bill cycles.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Prolongation" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DurationID" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The duration ID is generated in NGBSS and synchronized to external application.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="DurationUnit" type="common:DurationUnit" minOccurs="0"/>
						<xs:element name="DurationValue" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="8"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdditionalProperty" type="common:SimpleProperty" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentRelation">
		<xs:sequence>
			<xs:element name="PaymentRelationId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The id of payment relation.
it is null when adding the relation and it must be filled when modifying/updating the payment relation.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ServiceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Service type that can be paid by the account. it is defined in the BSS.
The "F" means all of the service type.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PaymentLimit" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LimitUnit" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Limit unit type.
1:Money
2:Usage</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string"/>
							</xs:simpleType>
						</xs:element>
						<xs:element name="LimitPattern" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Limit pattern, it can be a amount or a percentage.
1:Amount
2:Percentage</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string"/>
							</xs:simpleType>
						</xs:element>
						<xs:element name="LimitValue" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Limit value of different limit pattern. if the "LimitPattern" is Percentage this value is a percentage, if the "LimitPattern" is amount this value is an absolute value.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="64"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="LimitMeasureUnit" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The unit of the "LimitValue"  whenever the limit unit is usage.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ValidPeriod" type="common:TimePeriod" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The valid period of the payment realtion.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentPlan">
		<xs:sequence>
			<xs:element name="AcctId" type="common:AcctId" minOccurs="0"/>
			<xs:element name="SubId" type="common:SubId" minOccurs="0"/>
			<xs:element name="ServiceNum" type="common:ServiceNum" minOccurs="0"/>
			<xs:element name="PaymentRelation" type="common:PaymentRelation" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Consumption">
		<xs:sequence>
			<xs:element name="LimitType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Currency" type="common:Currency" minOccurs="0"/>
			<xs:element name="LimitValue" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The consumption limit value.This parameter is mandatory if the action type is adding or modifying.

-1: No limit.
Other values: Greater than or equal to 0</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]+(.[0-9]{2})?"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NotifyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>0:Permillage
1:Amount</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NotifyLimit" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This parameter is mandatory if the notify type is not empty.
If notify type is 0, the value is greate than 0 and less than 1000;
If notify type is 1, the value is greate than 0 and less than LimitValue;
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{1,4}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ManagerInfo">
		<xs:sequence>
			<xs:element name="CustManagerSeq" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Role" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OperatorId" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ManagerName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DepartmentId" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MobilePhone" type="common:Phone" minOccurs="0"/>
			<xs:element name="HomePhone" type="common:Phone" minOccurs="0"/>
			<xs:element name="OfficePhone" type="common:Phone" minOccurs="0"/>
			<xs:element name="Email" type="common:Email" minOccurs="0"/>
			<xs:element name="Status" minOccurs="0">
				<xs:annotation>
					<xs:documentation>0: invalid.
1:valid.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Remark" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
